.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 2px solid var(--heading_color);
  position: sticky;
  top: 0;
  background-color: var(--heading-color);
  z-index: 999;
}

.navbar > h1 {
  font-size: 30px;
  color: var(--heading_color) !important;
  text-decoration: none;
}
.navbarLinks {
  display: flex;
  align-items: center;
}

.navbarLinks .active {
  font-weight: 700;
}

.navbarLinks > a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--heading_color);
  text-decoration: none;
  padding: 0 15px;
}

a {
  color: var(--heading_color);
}
