@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.woff2");
}

:root {
  --body_background: #000000;
  --body_color: #ffffff;
  --heading_color: #ffe400;
}

[data-theme="light"] {
  --body_background: #ffffff;
  --body_color: #000000;
  --heading_color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body_background);
  color: var(--body_color);
  transition: all 0.3s ease-in-out;
}
.alignCenter {
  display: flex;
  align-items: center;
}
